.flex-center-center{
    justify-content: center;
    align-items:center; 
}

.w-35{
    width: 35%;
}

.grey.lighten-3{
    background-color: #f5f5f5;
}

.white{
    background-color: white;
}

.form-container{
    box-shadow: 0 2px 5px rgba(0, 0,0, 0.16);
}

.btn-link{
    color: #1ac7d6;
}

.btn-link:hover{
    color: #1ac7d6;
    text-decoration: none;
}

.btn-primary{
    background-color:  #1ac7d6;
    color: white;
    outline: none; 
    border:none;
    border-radius: 2px;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: #1ac7d6;
}

.icon > i.fa{
    font-size: 40px;
}
.error-text{
    color: white;
    background-color: red;
    position: absolute;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    right: 16px;
    top: 34px;
    padding-left: 5px;
    padding-right: 5px;
}
